*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
}
.container {
  display: flex;
  flex-direction: column;
  margin-left: 5rem;
}
.boards-container {
  margin-top: 2rem;
  display: flex;
  flex-wrap: wrap;
  padding: 4rem;
}
.each-board {
  background-image: linear-gradient(to left, #0c6efd, #1867a4);

  margin: 1rem;
  color: black;
  text-decoration: none;
  height: 7rem;
  width: 12rem;
  border-radius: 0.4rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
.each-board h1 {
  font-size: 1.6rem;
  text-decoration: none;
  color: white;
}
.each-board Link {
  text-decoration: none;
}

/* Lists */
.lists {
  height: 89vh;
  background-color: #1e79bf;
  overflow: auto;
  padding: 2rem;
}
.lists-container {
  display: flex;
  gap: 1rem;
  /* min-width: 100%; */
  overflow-x: auto;
  /* height: 100%; */
}
.lists-header {
  margin-top: 1rem;
  color: white;
  font-weight: bold;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.addAnotherListBtn {
  height: 2rem;
  margin-top: 1rem;
}

/* Each list */
.list-container {
  min-height: 3rem;
  border: solid white 2px;
  min-width: 15rem;
  max-width: 16rem;
  margin: 1rem 0.5rem;
  padding: 0.8rem;
  background-color: #ebecf0;
}

input {
  width: 9rem;
}

.list-header {
  font-size: 1.9rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #1E79BF;
}
.addlist-form {
  min-height: 3rem;
  border: solid white 2px;
  width: 13rem;
  margin: 2rem 1rem;
  padding: 1rem;
  background-color: antiquewhite;
  display: block;
}
.addlist-form input {
  margin: 0.4rem;
}
.delete-list-button {
  margin-bottom: 1.5rem;
  padding: .2rem;
}
/* Modal */
.modal {
}
.modal-button {
  display: block;
}
button {
  background-color: #1e79bf;
  border: 1px black solid;
  cursor: pointer;
  color: white;
}
.create-board-btn {
  display: block;
  margin: 1.5rem 3rem;
  height: 5rem;
  border: 1px black solid;
  background-color: white;
  color: black;
}

/* Card */

.eachCard {
  margin: 1rem 0;
  height: 6rem;
  border: 1px black solid;
  padding: .2rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.eachCard button {
  display: block;
  margin: 0.4rem;
}
.eachCard h1 {
  font-size: 1.5rem;
  margin: 0.2rem;
}
.addcard-form {
  border: 1px solid black;
  background-color: white;
  margin-top: 5px;
}
.addcard-form input {
  margin: 0px;
  width: 100%;
}
.addcard-button {
  margin: 0.1rem 0;
  background-color: #1e79bf;
  color: white;
  display: block;
}

/* CheckList */
.checklist {
  border: solid black 2px;
  padding: 6px;
}
.checklist-name{
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  font-size: 1.4rem;
}
.add-check-popup{
  display: flex;
  justify-content: space-around;
  margin: .5rem;
}
.add-check-popup>button{
  width: 3rem;
}
/* CheckItem */

.each-checkitem{
  display: flex;
  justify-content: space-around;
  border: .3px solid black;
  margin: 2px;
  align-items: center;
}
.each-checkitem >p{
  margin-top: 2px;
}

/* Loader */

 .loader{
   display: flex;
   justify-content: center;
   align-items: center;
   height: 60vh;
 }
.spinner {
  display: flex;
  justify-content: center;
  align-items: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: black;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
